@import 'foundation-sites';

@font-face {
  font-family: RealitySunday;
  src: url('../font/Reality Sunday.ttf');
}

body {
  background-attachment: fixed;
  background-color: $primary-color;
  //background-image: url('../img/bg.jpg');
}

h1 {
  font-family: RealitySunday;
}

#header {
  background-color: $black;
  height: 95vh;
  position: relative;

  h3 {
    color: #faceca;
    font-family: RealitySunday;
  }

  #logo {
    max-height: 375px;
  }

  #nav-arrow {
    height: 50px;
    text-align: center;

    position: absolute;
    bottom: 25px;
  }

  .hidden-space {
    color: $black;
  }
}

#poster-container {
  padding: 0;
}

#poster {
  width: 100%;
}

#event-info {
  background-color: #e76c54;
  color: $white;
  font-size: 20px;
  padding: 25px;

  #event-info-container {
    height: 100%;
  }
}

#map {
  min-height: 300px;

  @include breakpoint(small) {
    width: 100%;
  }

  @include breakpoint(medium) {
    width: 75%;
  }
}
